<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="title"><strong>Editing product</strong></h3>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="col-md-12 text-center">
  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', products_path %>

</div>
